.contenitore {
  margin: 10px auto;
  text-align: center;
}

.cambiaUsername {
  border-radius: 5px;
  width: 9%;
  height: 40px;
  outline: none;
  margin-top: 1%;
  border-style: solid;
  border-color: black;
  background-color: rgb(78, 78, 78);
  color: rgb(255, 255, 255);
}